# Supabase
supabase/.temp/
supabase/functions/.import_map.json

# Dependencies & Build
node_modules/
dist/

# Temporary files
tmp/
temp/

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
